

#logo{
	color: #fe1538;
	text-shadow: 0 0 5px rgb(255, 63, 63);
}
body{
	background: url('../img/red.png');
	background-attachment: fixed;
	background-size:100%;
	color: white;
}
#global{
    background: rgba(224, 11, 4, 0.671);
 
 
}
.post .fecha{
	color: rgb(18, 188, 250);
	font-weight: bold;
	text-shadow: 0 0 1px white, 0 0 5px rgb(13, 8, 149);
}
.post .comenta{
	background: #ec1c3b80;

}
.more{
 
	background: #ec1c3b80;
 
}
#sidebar h4{
	color: #ec1c3b80;
 
}
form input[type="text"],
form input[type="password"],
form input[type="email"]{
 
	border: 2px solid #ec1c3b80;
}
form input[type="submit"]{
	background: #ec1c3b80;
	 
}

.ui-state-active{ /*lo encontré así en el inspector. proviene de UI*/
	border: 1px solid #ff0000 !important;
	background: #ff000062 !important;
	color: rgb(18, 39, 200) !important;
}